<po-page-list
    p-title="Páginal Inicial">

    <po-widget
    class="po-row po-mb-5"
      p-help="string"
      p-no-shadow="false"
      p-primary="true"
      p-primary-label="Detalhes"
      p-title="Lucro obtido no mês">

      <div class="po-font-title po-text-center">$2.818,29</div>
      <div class="po-text-center">Mês de outubro</div>
    </po-widget>

    <po-widget
      class="po-row po-mb-5"
      p-no-shadow="false"
      p-primary="false"
      p-primary-label="Detalhes"
      p-title="Produtos a mais de dois meses em estoque sem venda">

      <div class="po-text-center">Produto 1 [..]</div>
    </po-widget>

    <po-widget
    class="po-row po-mb-5"
      p-help="string"
      p-no-shadow="false"
      p-primary="true"
      p-primary-label="Detalhes"
      p-title="Produtos em falta no estoque">

      <div class="po-font-title po-text-center">Produtos em falta</div>
      <div class="po-text-center">Produto 1 [..]</div>

      <div class="po-font-title po-text-center">Produtos com menos de 10 itens em estoque</div>
      <div class="po-text-center">Produto 2 [..]</div>
    </po-widget>

</po-page-list>
