<po-page-default
    p-title="Páginal Inicial">

    <po-widget
    class="po-row po-mb-5"
    (click)="exportAsXLSX()"
      p-no-shadow="false"
      p-primary="true"
      p-title="Lucro obtido no mês">

      <div class="po-font-title po-text-center">{{ lucroMes }}</div>
      <div class="po-text-center po-mb-5">Mês de outubro</div>
    </po-widget>

    <po-widget
      class="po-row po-mb-5"
      p-no-shadow="false"
      p-primary="true"
      p-title="Produtos em falta no estoque">

      <div class="po-font-title po-text-center">Produtos em falta</div>
      <div class="po-text-center po-mb-5">Produto 1 [..]</div>

    </po-widget>

</po-page-default>
